<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Travel Agency</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css') }}">
</head>
<body>
    <nav>
        <a href="/" class="navbar-brand">Travel Agency</a>
    </nav>
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
        <ul>
            <li><a href="{{ url_for('home.home') }}">Home</a></li>
            <li><a href="{{ url_for('module1.module1') }}">Module 1</a></li>
            <li><a href="{{ url_for('module2.module2') }}">Module 2</a></li>
            <li><a href="{{ url_for('module3.module3') }}">Module 3</a></li>
            <li><a href="{{ url_for('module4.module4') }}">Module 4</a></li>
            <li><a href="{{ url_for('module5.module5') }}">Module 5</a></li>
            <li><a href="{{ url_for('module6.module6') }}">Module 6</a></li>
            <li><a href="{{ url_for('module7.module7') }}">Module 7</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content%}{% endblock %}
    </div>

</body>
</html>